//- Materialize footer requires materialize css to be included in the layout
footer.page-footer.amber.accent-3
  .container
    .row
      .col.l6.s12
        h5.left-align About
        p Made with #[i(class="material-icons red-text") favorite] as an open source task for organization #[a(href="https://fossasia.github.io") #[b FOSSASIA]] in life changing program #[a(href="https://codein.withgoogle.com") Google CodeIn]
        p.
          This site couldn't have been possible without some awesome people and also some amazing tools. Click #[a(href="/credits") here] to read about them
      .col.l6.s12
        h5.left-align Contribute
        p You can check out the repository for this #[a(href="https://github.com/abdulhannanali/the-peace-pledge") project] here. Don't forget to give it some #[i(class="material-icons red-text") favorite] by giving it a #[i(class="material-icons yellow-text") star]
  .footer-copyright
    .container
      .row
        .col.s12.black-text.
            This site LICENSED under GNU GPL v3. Click #[a(href="//git.io/vENvg") here] to learn more.
