extends ./layouts/layout.jade

block head
  title Sorry error occured

block content
  .row
    .card-panel.red
      h3 We are really sorry an error occured!
      p This is an open source and you can make contributions to it #[a(href="https://github.com/abdulhannanali") here] . If you feel something is wrong and can correct it. Please feel free to make a PR. Also, You can help by informing us at abdulhannnanali@outlook.com
