head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
body
  h1 Welcome to the peace pledge
  p This is the homepage of the peace pledge
