extends ./layouts/layout.jade

block content
  .row
    .card-panel.red.lighten-5
      h4 We are really glad that we got to meet you here
  .row
    .card.indigo.accent-1
      .card-content
        h5 Please share it with others too cos we need everyone.
  .row
    .card-panel.lime
      .row
        h4 Share it please!
        include ./includes/share.jade
